<%= form_for(@scene_object) do |f| %>
  <% if @scene_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scene_object.errors.count, "error") %> prohibited this scene_object from being saved:</h2>

      <ul>
      <% @scene_object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :locked %><br>
    <%= f.check_box :locked %>
  </div>
  <div class="field">
    <%= f.label :position_x %><br>
    <%= f.text_field :position_x %>
  </div>
  <div class="field">
    <%= f.label :position_y %><br>
    <%= f.text_field :position_y %>
  </div>
  <div class="field">
    <%= f.label :position_z %><br>
    <%= f.text_field :position_z %>
  </div>
  <div class="field">
    <%= f.label :texture_type %><br>
    <%= f.text_field :texture_type %>
  </div>
  <div class="field">
    <%= f.label :texture_url %><br>
    <%= f.text_field :texture_url %>
  </div>
  <div class="field">
    <%= f.label :scale_x %><br>
    <%= f.text_field :scale_x %>
  </div>
  <div class="field">
    <%= f.label :scale_y %><br>
    <%= f.text_field :scale_y %>
  </div>
  <div class="field">
    <%= f.label :scale_z %><br>
    <%= f.text_field :scale_z %>
  </div>
  <div class="field">
    <%= f.label :rotation_x %><br>
    <%= f.text_field :rotation_x %>
  </div>
  <div class="field">
    <%= f.label :rotation_y %><br>
    <%= f.text_field :rotation_y %>
  </div>
  <div class="field">
    <%= f.label :rotation_z %><br>
    <%= f.text_field :rotation_z %>
  </div>
  <div class="field">
    <%= f.label :hidden %><br>
    <%= f.check_box :hidden %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
