<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @scene_object.type %>
</p>

<p>
  <strong>Locked:</strong>
  <%= @scene_object.locked %>
</p>

<p>
  <strong>Position x:</strong>
  <%= @scene_object.position_x %>
</p>

<p>
  <strong>Position y:</strong>
  <%= @scene_object.position_y %>
</p>

<p>
  <strong>Position z:</strong>
  <%= @scene_object.position_z %>
</p>

<p>
  <strong>Texture type:</strong>
  <%= @scene_object.texture_type %>
</p>

<p>
  <strong>Texture url:</strong>
  <%= @scene_object.texture_url %>
</p>

<p>
  <strong>Scale x:</strong>
  <%= @scene_object.scale_x %>
</p>

<p>
  <strong>Scale y:</strong>
  <%= @scene_object.scale_y %>
</p>

<p>
  <strong>Scale z:</strong>
  <%= @scene_object.scale_z %>
</p>

<p>
  <strong>Rotation x:</strong>
  <%= @scene_object.rotation_x %>
</p>

<p>
  <strong>Rotation y:</strong>
  <%= @scene_object.rotation_y %>
</p>

<p>
  <strong>Rotation z:</strong>
  <%= @scene_object.rotation_z %>
</p>

<p>
  <strong>Hidden:</strong>
  <%= @scene_object.hidden %>
</p>

<p>
  <strong>Name:</strong>
  <%= @scene_object.name %>
</p>

<%= link_to 'Edit', edit_scene_object_path(@scene_object) %> |
<%= link_to 'Back', scene_objects_path %>
